/* GLOBAL */

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Display, Justify, Align : Permet d'aligner les éléments et de créer l'espace Logo - List */
}

header img{
    display: flex;
    /* Display : Permet d'aligner le logo à la list */
    height: 30px;
    padding-left: 45px;
}

header ul {
    display: flex;
    /* Display : Permet d'aligner les éléments */
    list-style: none;
}

ul li {
    padding: 50px;
    border-top: solid 3px transparent;
    margin: 0px 20px;
}

header ul li:hover {
    border-color: #0065FC;
}

header ul li a {
    color: black;
    text-decoration: none;

}

header ul li a:hover {
    color: #0065FC;
    text-decoration: none;
}

/* MAIN */

main{
    width: 98%;
    max-width: 1440px;
    margin: auto;
}

/* SECTION SEARCH */

.search {
    display: flex;
    /* Display : Permet d'aligner les éléments */
    margin: 20px 36px;
}

.search .fa-map-marker-alt {
    background: #F2F2F2;
    border: 10px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search-input {
    border: 2px #F2F2F2 solid;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height: 40px;
}

input::placeholder {
    color: black;
}

.search-button {
    background: #0065FC;
    border: 10px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    cursor: pointer;
}


.search-bar h1 {
    font-size: 22px;
    margin: 0px 36px;
}

.search-bar p {
    font-size: 18px;
    margin: 0px 36px;
}

.search-button-icon {
    display:none;
}

/* SECTION FILTER */

.filter {
    display: flex;
    align-items: center;
    /* Display, Align : Permet d'aligner les éléments */
    height: 25px;
    margin: 30px 36px;
}

.filter ul {
    display: flex;
    /* Permet d'aligner les éléments */
}

.filter ul li {
    padding: 15px;
    list-style-type: none;
    border: solid 3px #F2F2F2;
    border-radius: 30px 30px 30px 30px;
}

.filter ul li a {
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: 700;
}

.filter ul li:hover {
  cursor: pointer;
  background: #DEEBFF;
}

.blue-icon {
    color: #0065FC;
    width: 30px;
}

/* INFO */

.info {
    display: flex;
    align-items:center;
    /* Display, Align : Permet d'aligner les éléments de la div info */
}

.info .fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    /* Display, Align, Justify : Permet de centrer le i dans le cercle*/
    border: 2px solid #D9D9D9;
    border-radius:50px 50px 50px 50px;
    margin-left: 36px;
    color: #0065fc;
    width: 24px;
    height: 24px;
}

.info p{
    font-weight: 400;
    font-size: 16px;
    color: black;
    padding: 30px;
}

/* SECTION REFERENCEE */

#section-reference{
    display: flex;
    justify-content: space-between;
    /* Display, Justify : Permet d'espacer les deux blocs */
    margin: 0px 36px;
}

#section-reference h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Display, Justify, Align : Permet d'espacer les deux blocs et d'aligner les élements */
    font-size: 22px;
    color: black;
    padding: 30px 20px 15px 36px;
}

#section-reference a{
    text-decoration: none;
}

#section-reference .full{
    color: #0065FC;
}

#section-reference .empty {
    color: #d9d9d9;
}

/* LOGDING */

.section-logding{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;
}

.lodging-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Display, flex-wrap, Justify : Permet d'aligner les blocs sur plusieurs lignes et d'espacer les élements */
}

.article-lodging{
    height: 170px;
    margin: 20px;
    background-color:  #ffff;
    border: 4px solid #ffff;
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;
}

.article-lodging img{
    width: 200px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.lodging{
    padding-left: 10px;
}

.lodging h3{
    font-size:16px;
    color: black;
}

.lodging p{
    font-size: 14px;
    color: black;
}

.lodging .stars{
    display: flex;
    padding-top: 5px;
}

.show-more{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0px 30px 25px;
}

/* POPULAR */

.section-popular{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 37%;
}

.fa-chart-line{
    color: #0065FC;
}

.article-popular{
    height: 125px;
    margin: 20px;
    background-color: #ffff;
    border: 4px solid #ffff;
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;
}

.article-popular a{
    display: flex;
    /* Display : Permet de mettre les élements à coter de l'img */
    width: 450px
}

.article-popular img{
    width: 130px;
    height: 120px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.popular{
    padding-left: 10px;
}

.popular h3{
    font-size:16px;
    color: black;
    padding: 15px 0px 5px 0px;
}

.popular p{
    font-size:14px;
    color: black;
    padding: 5px 0px 0px 0px;
}

.popular .stars{
    display: flex;
    padding: 40px 0px 0px 0px;
}

/* ACTIVITIES */

#section-activities{
    margin:30px 36px;
}
.activities h2{
    font-size: 22px;
    color: black;
    padding: 50px 20px 30px 36px;
}
.activities-card{
    display: flex;
    justify-content: space-around;
    /* Display, Justify : Permet d'aligner et espacer les éléments */
}

.article-activities {
    background-color: white;
    box-shadow: 1px 1px 10px grey;
    border-radius: 25px 25px 25px 25px;
}

.article-activities a{
    text-decoration: none;
}

.article-activities img{
    height: 445px;
    width: 300px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.article-activities h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: black;
    padding: 5px 25px;
}

/* FOOTER */

.footer{
    display: flex;
    justify-content:space-around;
    /* Display, Justify : Permet d'aligner et espacer les éléments */
    background: #F2F2F2;
    margin: 50px 60px 0px 60px;
    height: 125px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    /* Display, Flex : Permet de mettre en colonne les éléments */
}

.footer  a{
    text-decoration: none;
    color: black;
    padding: 5px
}

.footer h2{
    font-size: 16px;
    padding: 15px 0px
}

/* MEDIA QUERIES PAD */

/* MEDIA QUERIES MOBILE */
